<nav id="footer-legal" role="navigation" aria-label="Legal footer">
  <ul class="list-reset mb-2 lg:0">
    {% for item in items %}
      <li class="inline-flex mr-4">
        <a class="text-white hocus:text-primary hocus:underline not-italic text-base lg:text-lg font-light {% if (item.in_active_trail) %}is-active{% endif %}" href="{{ item.url }}" target="{{ item.url.getOption('attributes').target }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

